@font-face {
    font-family: 'Titillium Web Light';
    src: local('Titillium Web Light') url('../font/');
    font-weight: 300;
}

@font-face {
    font-family: 'Titillium Web Regular';
    src: local('Titillium Web Tegular') url('../font/');
    font-weight: 400;
}

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
}

div {
/*    border: 1px solid blue;*/
}

.logo {
    margin: 0 auto;
    max-width: 429px;
    height: 111px;
    background-image: url(../img/Masteralb.com%20TOP%20LOGO.png);
    opacity: 0.2;
}

.main-container {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    
}

.forms-col {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
}

.inner-form {
    border: 20px solid rgba(0, 0, 0, 0.23);
    box-sizing: content-box;
}

h2 {
    margin: 10px auto 10px auto;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-weight: 400;
}

form {
    background-color: #f4f4f4;
    padding: 22px;
    border-radius: 2px;
    max-width: 420px;
}

input:focus, textarea:focus {
    outline: none;
}

input,
input::placeholder,
select,
label,
textarea,
textarea::placeholder {
    color: #afafaf;
    font-size: 16px;
    font-family: inherit;
}

.inner-form input.username {
    background: url("../img/glyphicons_003_user.png") left 16px center no-repeat, linear-gradient(to bottom, #F8F8F8 0%, #F0F0F0 100%);
}

.inner-form input.password {
    background: url("../img/glyphicons_203_lock%20copy.png") left 16px center no-repeat, linear-gradient(to bottom, #F8F8F8 0%, #F0F0F0 100%);
}

.inner-form input.email {
    background: url("../img/glyphicons_010_envelope.png") left 16px center no-repeat, linear-gradient(to bottom, #F8F8F8 0%, #F0F0F0 100%);
}

.inner-form select.location {
    background: url("../img/glyphicons_242_google_maps.png") left 16px center no-repeat, linear-gradient(to bottom, #F8F8F8 0%, #F0F0F0 100%);
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    padding-left: 80px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}

input[type="checkbox"]+label {
    font-size: 18px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url("../img/Shape%209.png") center no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+label span {
    background: url("../img/Shape%2010.png") center no-repeat;
}

input[type="button"] {
    width: 100%;
    background: linear-gradient(to bottom, rgba(161, 214, 62, 1) 0%, rgba(126, 195, 31, 1) 100%);
    border: 1px solid #3a9a00;
    border-radius: 2px;
    box-sizing: border-box;
    height: 50px;
    margin-top: 20px;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 1px 1px #000;
    cursor: pointer;
}

input[value="Sign in"] {
    width: 140px;
    height: 40px;
    margin-top: -7px;
}

textarea {
    padding: 10px 0 0 15px;
    resize: none;
    height: 230px;
    background: linear-gradient(to bottom, #F8F8F8 0%, #F0F0F0 100%);
}

.sign-in-btn-wrapper {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-between;
}